body {
    background-size: cover;
    /* background-image: url("/static/img/lib.jpg"); */
    font-family: sans-serif;
    color: black;
  }

  .home {
    background-image: url("/static/img/lib.jpg");
    height: 400px;
  }
  
#site-nav ul {
  display: flex;
  padding: 0;
}

#site-nav ul li {
  padding: 0;
  list-style: none;
  margin: 0 10px;
}

#site-content {
  width: 600px;
  margin: 0 auto;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 1.17em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


.bi{
  width: 1em;
}

#search{
  display: flex;
  justify-content: center;
  padding: 50px;
}
.ms-1 {
  margin-left: (spacer * .25);
}

.book {
  float: none;
  justify-content: center;
  width:  235px;
  height: 350px;
  margin: 0 auto;
}

.card {
  justify-content: center;
  margin: 0 auto;
  float: none
}

#__GBS_Button0 {
  position: relative;
  left: 50%;
  /* right : 50%; */
}

