body {
    background-size: cover;
    font-family: sans-serif;
    color: black;
  }
  
#site-nav ul {
  display: flex;
  padding: 0;
}

#site-nav ul li {
  padding: 0;
  list-style: none;
  margin: 0 10px;
}

#site-content {
  width: 600px;
  margin: 0 auto;
}

.bi{
  width: 1em;
}

#search{
  display: flex;
  justify-content: center;
  padding: 50px;
}
.ms-1 {
  margin-left: (spacer * .25);
}

.book {
  float: inherit;
  width:  200px;
  height: 300px;
}
/* .Googlebutton {
  position: relative;
} */

#__GBS_Button0 {
  position: relative;
  left: 50%;
  /* right : 50%; */
}