{% extends 'base.html' %}
{% block title %}All Books{% endblock %}

{% block body %}
  <h1>All Books</h1>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for book in books %}

      <div class="card" style="width: 18rem;">
        <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn13}}-M.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text"> Authors: 
            {% for author in  book.authors %}
              <p>{{ author.name }}</p>
            {% endfor %}
          </p>
          <a href="/books/{{ book.id }}" class="btn btn-primary">See Details</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}