{% extends 'base.html' %}
{% block title %}All Books{% endblock %}

{% block body %}
  <h3>All Books</h3>

  <div className="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for book in books %}
  
        <div class="card 50 m-4" style="width: 18rem;"  class="d-flex flex-column">
          <img class="book" src="https://covers.openlibrary.org/b/isbn/{{book.isbn13}}-M.jpg"  class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">{{ book.title }}</h6>
            <p class="card-text"> Authors: 
              {% for author in  book.authors %}
                <p style="margin : 0; padding-top:0;">{{ author.name }}</p>
              {% endfor %}
            </p>
          </div>
          <div class="card-footer">
            <a href="/books/{{ book.id }}" class="btn btn-primary">See Details</a>
          </div>
        </div>
      {% endfor %}
    </div>

  </div> 


{% endblock %}