{% extends 'base.html' %}
{% block title %} Bar chart {% endblock %}

{% block head %}

    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
{% endblock %}

{% block body %}

    <h3>Authors with high avg ratings and avg no. of. ratings</h3>
    <div id="bubble-chart-container" class="d-flex justify-content-center">
        <div id="bubble-chart">
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/bubble_chart.js"></script>
{% endblock %}