{% extends 'base.html' %}
{% block title %} Top Read Books Home {% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(23, 144, 178)">
        <a class="navbar-brand mb-2 ms-2" href="#">
        <img src="/static/img/book-open-book.jpg" alt="" width="50" height="30" class="d-inline-block align-text-top">
        TOP READS</a>
        
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-2">
            <li class="nav-item active">
                <a class="nav-link"href="/books">View All books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/top_books">View top 10 books</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Reports
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/top_books">View top 10 books</a></li>
                <li><a class="dropdown-item" href="/bar_chart">BarChart</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
    
          <ul class="navbar-nav justify-content-end mb-2 mb-lg-2">
            <li class="d-flex flex-row-reverse">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="d-flex flex-row-reverse">
              <a class="nav-link" href="/fav_books">Favorite Books</a>
            </li>
            <li class="d-flex flex-row-reverse">
              <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="d-flex flex-row-reverse">
              <a class="nav-link" href="#">Profile</a>
            </li>
          </ul>  
        </div>
      </nav>

    <h2>Register an account</h2>
    <form action="/users" method="POST">
        <p>
            Username <input type="text" name="username">
        </p>
        <p>
            Email <input type="email" name="email">
        </p>
        <p>
            Password <input type="text" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    <h2>Already have an account!</h2>
    <form action="/login" method="POST">
        <p>
            Email <input type="email" name="email">
        </p>
        <p>
            Password <input type="text" name="password">
        </p>
        
        <p>
            <input type="submit" value="Log In">
        </p>

    </form>


{% endblock %}