{% extends 'base.html' %}
{% block title %} Top Read Books Home {% endblock %}

{% block body %}

    <h2>Register an account</h2>
    <form action="/users" method="POST">
        <p>
            Username <input type="text" name="username">
        </p>
        <p>
            Email <input type="email" name="email">
        </p>
        <p>
            Password <input type="text" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    <h2>Already have an account!</h2>
    <form id='login' action="/login" method="POST">
        <p>
            Email <input id= "email" type="email" name="email">
        </p>
        <p>
            Password <input id="pwd" type="text" name="password">
        </p>
        
        <p>
            <input type="submit" value="Log In">
        </p>

    </form>


{% endblock %}

{% block js %}
    <script src="/static/js/login.js"></script>
{% endblock %}