{% extends 'base.html' %}
{% block title %} Top Read Books Home {% endblock %}

{% block body %}

<div class="container  justify-content-sm-center">

    <h3>Register an account</h3>
    
    <form action="/users" method="POST">
        <p>
             <input type="text" placeholder="Username"name="username">
        </p>
        <p>
            <input type="email" placeholder="Email"name="email">
        </p>
        <p>
            <input type="password" placeholder="Password" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    <h3>Already have an account!</h3>
    <form id='login' action="/login" method="POST">
        <p>
            <input id= "email" placeholder="Email" type="email" name="email">
        </p>
        <p>
            <input id="pwd" type="password" placeholder="Password" name="password">
        </p>
        
        <p>
            <input type="submit" value="Log In">
        </p>

    </form>

</div>


{% endblock %}

{% block js %}
    <script src="/static/js/login.js"></script>
{% endblock %}